/**
 * Styles for Wallhaven Extended V2
 * These variables controls the look of elements and are programmatically changed by the app.
 * You can freely modify these variables to customize the appearance.
 */
/*
:root {
  --font: Gadugi;
  --base-font-size: 16px;
  --gray-bg: #696969;
  --orange-selected: #9d5100;
  --border-radius-normal: 2rem;
  --padding-normal: 0.5rem;
  --padding-large: 1rem;
  --padding-xx-large: 3rem;
  --color-debug-info: green;
  --bottom-position: 6%;
}
*/
